{% extends 'base.html.twig' %}

{% block title %}Compte {{ account.labelName }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/account.css') }}">
{% endblock %}

{% block body %}
    
    {# Display aditionnal informations with tags #}
    <section>
        <span class="tag is-dark account-info-tag"><span>Compte</span> {{ account.labelName }}</span>
        <span class="tag is-dark account-info-tag"><span>Dépenses</span> {{ totalAmount | number_format(2, ',', ' ') }} &euro;</span>
        <span class="tag is-dark account-info-tag">
            <span>Reste</span> {{ amountLeft.without_budget | number_format(2, ',', ' ') }} &euro;
            ( {{ amountLeft.with_budget | number_format(2, ',', ' ') }} )
            {% if 0 > (amountLeft.without_budget | round) %}
                <span class="fas fa-exclamation-triangle has-text-danger"></span>
            {% endif %}
        </span>
    </section>

    {# Navigation by month #}
    <section id="month-navigation" class="columns is-mobile">
        <div class="column">
            <a href="{{ path('account.view', {id: account.id, year: (date.previous | date('Y')), month: (date.previous | date('n'))}) }}">
                <span id="previous-month" class="fas fa-chevron-left"></span>
            </a>
        </div>

        <div class="column is-10">
            <div>{{ (('core.month.' ~ (date.now | date('F'))) | lower) | trans }} {{ date.now | date('Y') }}</div>
        </div>

        <div class="column">
            <a href="{{ path('account.view', {id: account.id, year: (date.next | date('Y')), month: (date.next | date('n'))}) }}">
                <span id="next-month" class="fas fa-chevron-right"></span>
            </a>
        </div>
    </section>
    
    {# Main content #}
    <div class="columns">
        <div class="column">
            <section class="box">
                <h2 class="subtitle">Opérations</h2>
                
                <div id="op-list-action" class="tabs is-boxed">
                    <ul>
                        <li class="is-active">
                            <a data-target="#op-list-transaction">Dépenses</a>
                        </li>
                        <li>
                            <a data-target="#op-list-income">Revenus</a>
                        </li>
                        {# Touch devices #}
                        <li class="is-hidden-desktop">
                            <a data-target="#op-list-budget">Budget</a>
                        </li>
                        {# /Touch devices #}
                    </ul>
                </div>
                
                <div class="op-target list-target is-active" id="op-list-transaction">
                    {% include 'operation/view.html.twig' with {operations: transactions, isTransaction: true} only %}
                </div>
                
                <div class="op-target list-target" id="op-list-income">
                    {% include 'operation/view.html.twig' with {operations: incomes, isTransaction: false} only %}
                </div>
                
                <div class="op-target list-target is-hidden-desktop" id="op-list-budget">
                    {% include 'operation/view.html.twig' with {operations: budgets, isBudget: true} only %}
                </div>
            </section>
        </div>

        {# Desktop #}
        <div class="column is-hidden-touch">
            <section class="box">
                <h2 class="subtitle">Nouvelle opération</h2>
                
                <div id="op-form-action" class="tabs is-boxed">
                    <ul>
                        <li class="is-active">
                            <a data-target="#op-form-transaction">Dépense</a>
                        </li>
                        <li>
                            <a data-target="#op-form-income">Revenu</a>
                        </li>
                    </ul>
                </div>
                
                <div class="op-target form-target is-active" id="op-form-transaction">{{ include('operation/transaction.form.html.twig', {form: transactionForm}) }}</div>
                <div class="op-target form-target" id="op-form-income">{{ include('operation/income.form.html.twig', {form: incomeForm}) }}</div>
            </section>

            <section class="box">
                <h2 class="subtitle">Budget</h2>
                <div id="op-budget-action" class="tabs is-boxed">
                    <ul>
                        <li class="is-active">
                            <a data-target="#op-mixed-budget-list">Liste</a>
                        </li>
                        <li>
                            <a data-target="#op-mixed-budget-form">Formulaire</a>
                        </li>
                    </ul>
                </div>
                
                <div class="op-target budget-target is-active" id="op-mixed-budget-list">
                    {% include 'operation/view.html.twig' with {operations: budgets, isBudget: true} only %}
                </div>
                <div class="op-target budget-target" id="op-mixed-budget-form">{{ include('operation/budget.form.html.twig', {form: budgetForm}) }}</div>
            </section>
        </div>
        {# /Desktop #}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/account.js') }}"></script>
{% endblock %}