{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/account.css') }}">
{% endblock %}

{% block body %}

    <section id="month-navigation" class="columns is-mobile">
        <div class="column">
            <a href="{{ path('account.view', {id: account.id, navigation: 'previous'}) }}">
                <span id="previous-month" class="fas fa-chevron-left"></span>
            </a>
        </div>

        <div class="column is-10">
            {{ account.labelName }}
            <div>{{ (('core.month.' ~ (actualDate | date('F'))) | lower) | trans }}</div>
        </div>

        <div class="column">
            <a href="{{ path('account.view', {id: account.id, navigation: 'next'}) }}">
                <span id="next-month" class="fas fa-chevron-right"></span>
            </a>
        </div>
    </section>

    <div class="columns">
        <div class="column">
            <section class="box">
                <h2 class="subtitle">Opérations</h2>

                <div class="is-hidden-desktop">
                    <a href="{{ path('transaction.add') }}" class="button is-primary">Nouvelle opération</a>
                    <a href="#" class="button has-background-white-bis budget-button">Budget</a>
                </div>

                {% if 0 == (transactions | length) %}
                    <div class="notification">
                        Aucune opération trouvée pour ce mois-ci.
                    </div>

                {% else %}
                    <div class="transaction-list">
                    {% for trans in transactions %}
                        <div class="transaction columns is-mobile">
                            <div class="column is-10">
                                <div class="columns is-mobile">
                                    <div class="column is-half">
                                        <p class="has-text-grey-light is-size-7">{{ trans.labelName }}</p>
                                        <p>{{ trans.amount | number_format(2, ',', ' ') }} &euro;</p>
                                    </div>
                                    <div class="column">
                                        <span class="tag is-info is-pulled-right">{{ trans.idRefTransactionType.labelName }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <span class="has-text-grey-lighter is-pulled-right">{{ trans.actionDate | date('d') }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </section>
        </div>

        <div class="column is-hidden-touch">
            <section class="box">
                <h2 class="subtitle">Nouvelle opération</h2>
                {{ include('transaction/form.html.twig', {form: transactionForm}) }}
            </section>

            <section class="box">
                <h2 class="subtitle">Budget</h2>
            </section>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/account.js') }}"></script>
{% endblock %}