{% extends 'base.html.twig' %}

{% block title %}Compte {{ account.labelName }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/account.css') }}">
{% endblock %}

{% block body %}
    
    {# Display aditionnal informations with tags #}
{#    <section>#}
{#        <span class="tag is-dark account-info-tag"><span>Compte</span> {{ account.labelName }}</span>#}
{#        <span class="tag is-dark account-info-tag"><span>Dépenses</span> {{ totalAmount | number_format(2, ',', ' ') }} &euro;</span>#}
{#        <span class="tag is-dark account-info-tag">#}
{#            <span>Reste</span> {{ amountLeft.without_budget | number_format(2, ',', ' ') }} &euro;#}
{#            ( {{ amountLeft.with_budget | number_format(2, ',', ' ') }} &euro; )#}
{#            {% if 0 > (amountLeft.without_budget | round) %}#}
{#                <span class="fas fa-exclamation-triangle has-text-danger"></span>#}
{#            {% endif %}#}
{#        </span>#}
{#    </section>#}

    <section class="columns">
        <div class="column">
            {% set months = constant('App\\Service\\DateManager::MONTHS') %}
            {% set year = date | date('Y') %}
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu1">
                        <span>{{ (('core.month.' ~ (date | date('F'))) | lower) | trans }}</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu1" role="menu">
                    <div class="dropdown-content">
                        {% for month in months %}
                            <a href="{{ path('account.view', {'year': year, 'month': loop.index, 'id': account.id}) }}" class="dropdown-item">
                                {{ month }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu1">
                        <span>{{ account.labelName }}</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu1" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <p><span class="amount-info-title">Dépenses : </span> {{ totalAmount | number_format(2, ',', ' ') }} &euro;</p>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                            <p><span class="amount-info-title">Reste actuel : </span> {{ amountLeft.without_budget | number_format(2, ',', ' ') }} &euro;</p>
                            <p><span class="amount-info-title">Reste réel : </span> {{ amountLeft.with_budget | number_format(2, ',', ' ') }} &euro;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {# Main content #}
    <div class="columns">
        <div class="column">
            <section class="box">
                <h2 class="subtitle">Mouvements</h2>
                
                <div id="op-list-action" class="tabs">
                    <ul>
                        <li class="is-active">
                            <a data-target="#op-list-transaction">Dépenses</a>
                        </li>
                        <li>
                            <a data-target="#op-list-income">Revenus</a>
                        </li>
                        <li>
                            <a data-target="#op-list-budget">Budget</a>
                        </li>
                    </ul>
                </div>
                
                <div class="op-target list-target is-active" id="op-list-transaction">
                    {% include 'operation/view.html.twig' with {operations: transactions, isTransaction: true} only %}
                </div>
                
                <div class="op-target list-target" id="op-list-income">
                    {% include 'operation/view.html.twig' with {operations: incomes, isTransaction: false} only %}
                </div>
                
                <div class="op-target list-target" id="op-list-budget">
                    {% include 'operation/view.html.twig' with {operations: budgets, isBudget: true} only %}
                </div>
            </section>
        </div>

        {# Desktop #}
        <div class="column is-hidden-touch">
            <section class="box">
                <h2 class="subtitle">Nouveau mouvement</h2>
                
                <div id="op-form-action" class="tabs">
                    <ul>
                        <li class="is-active">
                            <a data-target="#op-form-transaction">Dépense</a>
                        </li>
                        <li>
                            <a data-target="#op-form-income">Revenu</a>
                        </li>
                        <li>
                            <a data-target="#op-form-budget">Budget</a>
                        </li>
                    </ul>
                </div>
                
                <div class="op-target form-target is-active" id="op-form-transaction">{{ include('operation/transaction.form.html.twig', {form: transactionForm}) }}</div>
                <div class="op-target form-target" id="op-form-income">{{ include('operation/income.form.html.twig', {form: incomeForm}) }}</div>
                <div class="op-target form-target" id="op-form-budget">{{ include('operation/budget.form.html.twig', {form: budgetForm}) }}</div>
            </section>
        </div>
        {# /Desktop #}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/account.js') }}"></script>
{% endblock %}