{% set navigation = app.session.get(constant('App\\Model\\Session::NAVIGATION_ACCOUNT')) %}

{{ form_start(form) }}
{{ form_row(form.labelName) }}
{{ form_row(form.amount) }}
{{ form_row(form.isEstimated) }}
{{ form_row(form.idRefTransactionType) }}
{{ form_row(form.save) }}
{{ form_end(form) }}

{#<div class="field is-grouped">#}
{#    <p class="control">#}
{#        <button class="button is-primary">#}
{#            {{ id is defined and 0 < id ? 'Modifier' : 'Ajouter' }}#}
{#        </button>#}
{#    </p>#}
{#    #}
{#    {% if 'account.view' != app.request.get('_route') %}#}
{#        <p class="control">#}
{#            <a href="{{ path('account.view', {year: (navigation | date('Y')), month: (navigation | date('n'))}) }}" class="button is-text">Annuler</a>#}
{#        </p>#}
{#    {% endif %}#}
{#    #}
{#    {% if id is defined and 0 < id %}#}
{#        <p class="control">#}
{#            <a href="{{ path('operation.delete', {type: 'budget', id: id}) }}" class="button is-danger">Supprimer</a>#}
{#        </p>#}
{#    {% endif %}#}
{#</div>#}