{% set navigation = app.session.get(constant('App\\Model\\Session::NAVIGATION_ACCOUNT')) %}

{{ form_start(form) }}

<div class="field">
    <label class="label is-small">Libellé</label>
    <div class="control">
        {{ form_widget(form.labelName) }}
    </div>
</div>

<div class="field">
    <label class="label is-small">Montant</label>
    <div class="control">
        {{ form_widget(form.amount) }}
    </div>
</div>
    
<div class="field is-grouped">
    <p class="control">
        <button class="button is-primary">
            {{ id is defined and 0 < id ? 'Modifier' : 'Ajouter' }}
        </button>
    </p>
    
    {% if 'account.view' != app.request.get('_route') %}
        <p class="control">
            <a href="{{ path('account.view', {year: (navigation | date('Y')), month: (navigation | date('n'))}) }}" class="button is-text">Annuler</a>
        </p>
    {% endif %}
    
    {% if id is defined and 0 < id %}
        <p class="control">
            <a href="{{ path('operation.delete', {type: 'income', id: id}) }}" class="button is-danger">Supprimer</a>
        </p>
    {% endif %}
</div>

{{ form_end(form) }}