{{ form_start(form) }}
{{ form_row(form.labelName) }}
{{ form_row(form.amount) }}
<div class="columns is-mobile">
    <div class="column is-3">
        {{ form_row(form.actionDate) }}
    </div>

    <div class="column">
        {{ form_row(form.idRefTransactionType) }}
    </div>
</div>
{{ form_end(form) }}