{% if isTransaction is not defined %}
    {% set isTransaction = false %}
{% endif %}

{% if isBudget is not defined %}
    {% set isBudget = false %}
{% endif %}

{% set newOpPath = 'transaction' %}
{% if isBudget %}
    {% set newOpPath = 'budget' %}
{% elseif not isTransaction %}
    {% set newOpPath = 'income' %}
{% endif %}

{# Touch devices #}
<div class="is-hidden-desktop">
    <a href="{{ path('operation.add', {type: newOpPath}) }}" class="button is-primary">Nouvelle opération</a>
</div>
{# /Touch devices #}

{% if 0 == (operations | length) %}
    <div class="notification">
        {% if isTransaction %}
            Aucune opération trouvée pour ce mois-ci.
        {% elseif isBudget %}
            Aucun budget planifié pour ce mois-ci.
        {% else %}
            Aucun gain trouvé pour ce mois-ci.
        {% endif %}
    </div>
    
{% else %}

    <div class="transaction-list">
    {% for trans in operations %}
        <div class="transaction columns is-mobile">
            {% if isTransaction %}
                <div class="column is-10">
                    <div class="columns is-mobile">
                        <div class="column is-half">
                            <p class="has-text-grey-light is-size-7">
                                <a href="{{ path('operation.edit', {type: 'transaction', id: trans.id}) }}">{{ trans.labelName }}</a>
                            </p>
                            <p>{{ trans.amount | number_format(2, ',', ' ') }} &euro;</p>
                        </div>
                        <div class="column">
                            <span class="tag is-info is-pulled-right">{{ trans.idRefTransactionType.labelName }}</span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <span class="has-text-grey-lighter is-pulled-right">{{ trans.actionDate | date('d') }}</span>
                </div>
            {% elseif isBudget %}
                <div class="column is-7">
                    <p class="has-text-grey-light is-size-7">
                        <a href="{{ path('operation.edit', {type: 'budget', id: trans.id}) }}">{{ trans.labelName }}</a>
                    </p>
                    <p>{{ trans.amount | number_format(2, ',', ' ') }} &euro;</p>
                </div>
                <div class="column">
                    {% set budgetStatusKey = 'App\\Controller\\BudgetController::' %}
                    {% set budgetStatus = constant(budgetStatusKey ~ (trans.isActive ? 'STATUT_DISABLE' : 'STATUT_ENABLE')) %}
                    <a href="{{ path('budget.manage', {id: trans.id, status: budgetStatus}) }}" class="button is-outlined is-pulled-right {{ trans.isActive ? 'is-danger' : 'is-success'}}">
                        {{ trans.isActive ? 'Désactiver' : 'Activer' }}
                    </a>
                </div>
            {% else %}
                <div class="column">
                    <p class="has-text-grey-light is-size-7">
                        <a href="{{ path('operation.edit', {type: 'income', id: trans.id}) }}">{{ trans.labelName }}</a>
                    </p>
                    <p>{{ trans.amount | number_format(2, ',', ' ') }} &euro;</p>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>

{% endif %}