{% if isTransaction is not defined %}
    {% set isTransaction = false %}
{% endif %}

{% if isBudget is not defined %}
    {% set isBudget = false %}
{% endif %}

{% set newOpPath = 'transaction' %}
{% if isBudget %}
    {% set newOpPath = 'budget' %}
{% elseif not isTransaction %}
    {% set newOpPath = 'income' %}
{% endif %}

{# Touch devices #}
<div class="is-hidden-desktop">
    <a href="{{ path('operation.add', {type: newOpPath}) }}" class="button is-primary">Nouvelle opération</a>
</div>
{# /Touch devices #}

{% if 0 == (operations | length) %}
    <div class="notification">
        {% if isTransaction %}
            Aucune opération trouvée pour ce mois-ci.
        {% elseif isBudget %}
            Aucun budget planifié pour ce mois-ci.
        {% else %}
            Aucun revenu trouvé pour ce mois-ci.
        {% endif %}
    </div>

{% elseif not isBudget %}
    <div class="transaction-list">
        {% for trans in operations %}
            <div class="transaction columns is-mobile">
                {% if isTransaction %}
                    <div class="column is-9">
                        <div class="columns is-mobile">
                            <div class="column is-half">
                                <p class="is-size-7">
                                    <a href="{{ path('operation.edit', {type: 'transaction', id: trans.id}) }}" class="link">
                                        {{ trans.labelName }}
                                        <span class="fas fa-link"></span>
                                    </a>
                                </p>
                                <p>{{ trans.amount | number_format(2, ',', ' ') }} &euro;</p>
                            </div>
                            <div class="column">
                                <span class="tag is-info is-pulled-right">{{ trans.idRefTransactionType.labelName }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <span class="has-text-grey-light is-pulled-right">{{ trans.actionDate | date('d') }}</span>
                    </div>
                {% else %}
                    <div class="column">
                        <p class="is-size-7">
                            <a href="{{ path('operation.edit', {type: 'income', id: trans.id}) }}" class="link">
                                {{ trans.labelName }}
                                <span class="fas fa-link"></span>
                            </a>
                        </p>
                        <p>{{ trans.amount | number_format(2, ',', ' ') }} &euro;</p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% else %}
    <div class="transaction-list">
        {% for trans in operations %}
            {% set budgetStatusKey = 'App\\Controller\\BudgetController::' %}
            {% set budgetStatus = constant(budgetStatusKey ~ (trans.isActive ? 'STATUT_DISABLE' : 'STATUT_ENABLE')) %}

            <div class="transaction columns is-mobile">
                <div class="column is-1">
                    {% if trans.isPaid %}
                        <span class="fas fa-star flag-paid"></span>
                    {% else %}
                        <span class="fas fa-star has-text-grey-light"></span>
                    {% endif %}
                </div>
                <div class="column is-11-touch is-8-desktop">
                    <div class="columns is-mobile">
                        <div class="column is-half">
                            <p class="is-size-7">
                                <a href="{{ path('operation.edit', {type: 'budget', id: trans.id}) }}" class="link">
                                    {{ trans.labelName }}
                                    <span class="fas fa-link"></span>
                                </a>
                            </p>
                            <p>{{ trans.amount | number_format(2, ',', ' ') }} &euro;</p>
                        </div>
                        <div class="column has-text-right">
                            <span class="tag is-info">{{ trans.idRefTransactionType.labelName }}</span>
                            <div class="budget-manage-touch is-hidden-desktop">
                                <a
                                    href="{{ path('budget.manage', {id: trans.id, status: budgetStatus}) }}"
                                    class="button is-outlined {{ trans.isActive ? 'is-danger' : 'is-success' }} is-small is-rounded"
                                >
                                    {{ trans.isActive ? 'Désactiver' : 'Activer' }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column has-text-right">
                    <a
                            href="{{ path('budget.manage', {id: trans.id, status: budgetStatus}) }}"
                            class="button is-outlined {{ trans.isActive ? 'is-danger' : 'is-success' }} is-small is-rounded is-hidden-touch"
                    >
                        {{ trans.isActive ? 'Désactiver' : 'Activer' }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
