{% if isTransaction is not defined %}
    {% set isTransaction = false %}
{% endif %}

{% if isBudget is not defined %}
    {% set isBudget = false %}
{% endif %}

{% set newOpPath = 'transaction' %}
{% if isBudget %}
    {% set newOpPath = 'budget' %}
{% elseif not isTransaction %}
    {% set newOpPath = 'income' %}
{% endif %}

{# Touch devices #}
<div class="is-hidden-desktop">
    <a href="{{ path('operation.add', {type: newOpPath}) }}" class="button is-primary">Nouvelle opération</a>
</div>
{# /Touch devices #}

{% if 0 == (operations | length) and not isBudget %}
    <div class="notification">
        {% if isTransaction %}
            Aucune opération trouvée pour ce mois-ci.
        {% else %}
            Aucun gain trouvé pour ce mois-ci.
        {% endif %}
    </div>
    
{% elseif isBudget and 0 == (operations.enabled | length) and 0 == (operations.disabled | length) %}
    <div class="notification">
        Aucun budget planifié pour ce mois-ci.
    </div>
    
{% elseif not isBudget %}

    <div class="transaction-list">
    {% for trans in operations %}
        <div class="transaction columns is-mobile">
            {% if isTransaction %}
                <div class="column is-10">
                    <div class="columns is-mobile">
                        <div class="column is-half">
                            <p class="is-size-7">
                                <a href="{{ path('operation.edit', {type: 'transaction', id: trans.id}) }}" class="link">{{ trans.labelName }}</a>
                            </p>
                            <p>{{ trans.amount | number_format(2, ',', ' ') }} &euro;</p>
                        </div>
                        <div class="column">
                            <span class="tag is-info is-pulled-right">{{ trans.idRefTransactionType.labelName }}</span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <span class="has-text-grey-light is-pulled-right">{{ trans.actionDate | date('d') }}</span>
                </div>
            {% else %}
                <div class="column">
                    <p class="is-size-7">
                        <a href="{{ path('operation.edit', {type: 'income', id: trans.id}) }}" class="link">{{ trans.labelName }}</a>
                    </p>
                    <p>{{ trans.amount | number_format(2, ',', ' ') }} &euro;</p>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    
{% else %}
    <div class="transaction-list">
        {% for transEnabled in operations.enabled %}
            <div class="transaction columns is-mobile">
                <div class="column is-1">
                    {% if transEnabled.isPaid %}
                        <i class="fas fa-check has-text-grey-light"></i>
                    {% endif %}
                </div>
                <div class="column is-7">
                    <p class="is-size-7">
                        <a href="{{ path('operation.edit', {type: 'budget', id: transEnabled.id}) }}" class="link">{{ transEnabled.labelName }}</a>
                    </p>
                    <p>{{ transEnabled.amount | number_format(2, ',', ' ') }} &euro;</p>
                </div>
                <div class="column">
                    {% set budgetStatusKey = 'App\\Controller\\BudgetController::' %}
                    {% set budgetStatus = constant(budgetStatusKey ~ 'STATUT_DISABLE') %}
                    <a href="{{ path('budget.manage', {id: transEnabled.id, status: budgetStatus}) }}" class="button is-outlined is-pulled-right is-danger">
                        Désactiver
                    </a>
                </div>
            </div>
        {% endfor %}

        {% for transDisabled in operations.disabled %}
            <div class="transaction columns is-mobile">
                <div class="column is-1">
                    {% if transDisabled.isPaid %}
                        <i class="fas fa-check has-text-grey-light"></i>
                    {% endif %}
                </div>
                <div class="column is-7">
                    <p class="is-size-7">
                        <a href="{{ path('operation.edit', {type: 'budget', id: transDisabled.id}) }}" class="link">{{ transDisabled.labelName }}</a>
                    </p>
                    <p>{{ transDisabled.amount | number_format(2, ',', ' ') }} &euro;</p>
                </div>
                <div class="column">
                    {% set budgetStatusKey = 'App\\Controller\\BudgetController::' %}
                    {% set budgetStatus = constant(budgetStatusKey ~ 'STATUT_ENABLE') %}
                    <a href="{{ path('budget.manage', {id: transDisabled.id, status: budgetStatus}) }}" class="button is-outlined is-pulled-right is-success">
                        Activer
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
