{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <div class="columns is-mobile is-centered">
        <div class="column is-half-desktop">
            <div class="box">
                <h2 class="subtitle">Réinitialisation du mot de passe</h2>

                {{ form_start(form) }}

                <div class="field">
                    <label class="label is-small">Saisissez un nouveau mot de passe</label>
                    <div class="control">
                        {{ form_widget(form.password.first) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label is-small">Confirmez le mot de passe</label>
                    <div class="control">
                        {{ form_widget(form.password.second) }}
                    </div>
                </div>

                <div class="field is-grouped">
                    <p class="control">
                        <button class="button is-primary">Valider</button>
                    </p>
                    <p class="control">
                        <a href="{{ path('login') }}" class="button is-text">Retour</a>
                    </p>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {#    <script type="text/javascript" src="{{ asset('build/login.js') }}"></script>#}
{% endblock %}
