{%- block submit_widget -%}
    {% set type = type|default('submit') %}
    {% set additional_button = additional_button|default({}) %}
    {% set centered_class = is_centered ? 'is-grouped-centered' : '' %}

    <div class="field submit-field is-grouped {{ centered_class }}">
        <div class="control">
            {{ block('button_widget') }}
        </div>
        {% if 0 < additional_button|length %}
            <div class="control">
                <{{ additional_button.type }} {% if null != additional_button.link %}href="{{ additional_button.link }}"{% endif %} class="{{ ('button is-rounded ' ~ additional_button.class)|trim }}">
                    {{ additional_button.label }}
                </{{ additional_button.type }}>
            </div>
        {% endif %}
    </div>
{%- endblock -%}

{%- block button_row -%}
    {{- form_widget(form) -}}
{%- endblock -%}

{%- block form_errors -%}
    {%- if 0 < errors|length -%}
        <p class="help is-danger">
            {{ errors[0].message }}
        </p>
    {%- endif -%}
{%- endblock -%}

{%- block form_widget_compound -%}
    {%- if form is rootform -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock -%}

{%- block form_row -%}
    {% set label_attr = label_attr|merge({class: label_attr.class|default('') ~ ' label is-small'}) %}
    <div class="field">
        {%- if form.vars.block_prefixes[1] in ['radio', 'checkbox'] or ('choice' == form.vars.block_prefixes[1] and form.vars.expanded) -%}
            <div class="control">
                {%- if 'choice' == form.vars.block_prefixes[1] -%}
                    {%- for choice in form.vars.choices -%}
                        <label class="{{ form.vars.multiple ? 'checkbox' : 'radio' }}">
                            {{- form_widget(choice, {attr: attr}) -}}
                            {{- choice.label -}}
                        </label>
                    {%- endfor -%}
                {%- else -%}
                    <label class="{{ form.vars.block_prefixes[1] }}" for="{{ form.vars.id }}">
                        {{- form_widget(form, {attr: attr}) -}}
                        {{- form.vars.label -}}
                    </label>
                {%- endif -%}
            </div>
        {%- else -%}
            {{- form_label(form, '', {label_attr: label_attr}) -}}
            <div class="control">
                {%- if 'choice' == form.vars.block_prefixes[1] -%}
                    <div class="select is-rounded">
                        {{- form_widget(form, {attr: attr}) -}}
                    </div>
                {%- else -%}
                    {% set attr = attr|merge({class: ('input is-rounded ' ~ attr.class|default(''))|trim}) %}
                    {{- form_widget(form, {attr: attr}) -}}
                {%- endif -%}
            </div>
            {{- form_errors(form) -}}
        {%- endif -%}
    </div>
{%- endblock -%}