<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <script src="https://kit.fontawesome.com/35562d5732.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% if is_granted('ROLE_USER') %}
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainnavbar">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="mainnavbar" class="navbar-menu">
                    <div class="navbar-start">
                        <a href="{{ path('account.view') }}" class="navbar-item">Accueil</a>
                        <a href="#" class="navbar-item">Profil</a>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <a href="{{ path('logout') }}" class="button is-danger is-outlined">Déconnexion</a>
                        </div>
                    </div>
                </div>
            </nav>
        {% endif %}

        <section class="section">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </section>

        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
