<header>
    <nav>
        <ul>
            <li>
                <a href="{{ path('account.view') }}">{{ 'nav.home' | trans }}</a>
            </li>
            <li>
                <a href="#">{{ 'nav.subscription' | trans }}</a>
            </li>
            <li>
                <a href="#">{{ 'nav.profile' | trans }}</a>
            </li>
            <li class="nav-item-disconnect">
                <a href="{{ path('logout') }}">{{ 'nav.disconnect' | trans }}</a>
            </li>
        </ul>

        <a href="#" id="close-nav">
            <span class="fas fa-times"></span>
        </a>
    </nav>

    <div id="header-title">
        <span class="fas fa-bars"></span>
        {% block header %}{% endblock %}
    </div>
</header>